@import "../../variables";

.full-screen-page {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	height: 100%;
	position: relative;

	.large-aside,
	.main-article {
		width: 50%;
		padding: 5%;
		position: absolute;
		@media (max-width: 780px) {
			width: 100%;
			padding: 10%;
		}
	}

	.large-aside {
		font-family: $header-font;
		text-transform: uppercase;
		font-size: 2em;
		display: flex;
		align-items: center;
		@media (max-width: 780px) {
			position: relative;
		}
		@media (min-width: 781px) {
			height: 100%;
		}
	}

	.main-article {
		position: absolute;
		width: 100%;
		-webkit-overflow-scrolling: touch;

		& > div {
			-webkit-overflow-scrolling: touch;
			padding-bottom: 40%;

			@media (min-width: 780px) {
				padding-bottom: 25%;
			}
		}
		@media (min-width: 780px) {
			padding-left: 50%;
		}
	}
}
.separate-line {
	display: block;
	font-family: $header-font;
	margin-bottom: 1.2em;
	font-size: 2em;
}
