@import 'variables';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, main, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, main, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---End of css reset--- */

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 1.2em;
}

html,
body {
    height: 100%;
    font-size: 1.3em;
}

.app {
    height: 100%;
}

#root {
    font-family: $main-font;
    height: 100%;
    color: $font-color;
    background: $background-color;
}

a {
    color: $font-link-color;
    text-decoration: none;
    &:hover {
        transition: color 0.4s ease;
        color: $font-link-hover-color;
    }
}

.italics {
    font-style: italic;
}

button {
    margin-top: .3em;
    margin-right: .3em;
    color: $font-link-color;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid;
    background: $background-color;
    display: block;
    padding: .6em;
    border-radius: .2em;
    &:hover {
        color: $font-color;
        background: $font-link-color;
        border-color: $font-link-color; 
    }
}

.remove {
    padding: 0;
    height: 35px;
    width: 35px;
    display: inline-block;
    box-shadow: none;
}

ol {
    list-style-type: decimal;

    li {
        line-height: 1.2em;
        margin-top: .6em;
        margin-left: 1em;
    }
}