$background-color: #f4f3f1;
$font-color: #1E1E1E;
$font-link-color: #f0944b;
$font-link-hover-color: darken($font-link-color, 10%);


$header-font: 'Montserrat', sans-serif;
$main-font: 'Esteban', sans-serif;
