.dojo-page {
    .separate-line {
        margin: .8em 0 .2em;
    }
}

.dojo-person-fade-enter {
    opacity: 0.01;
}

.dojo-person-fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.dojo-person-fade-exit {
    opacity: 1;
}

.dojo-person-fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}