@import '../../variables';

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background: $background-color;
    padding: 1em;
    z-index: 8;

    @media (max-width: 560px) {
        flex-direction: column;
        padding: 1em 5%;
    }

    a {
        font-family: $header-font;
        text-transform: uppercase;
        margin-bottom: .4em;
        
        @media (max-width: 560px) {
            flex-direction: column;
        }

        &.activeLink {
            color: $font-link-hover-color;
        }
    }
    
}