@import '../../variables';

.main-page {
    overflow: auto;
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 670px) {
        flex-direction: column
    }

    .name, article {
        width: 50%;
        padding: 5%;
        @media (max-width: 670px) {
            width: 100%;
            padding: 10%;
        }
    }
    .name {
        font-family: $header-font;
        font-size: 2.1em;
        @media (max-width: 670px) {
            position: relative;
            font-size: 1.5em;
        }
        position: absolute;


    }

    .introduction {
        @media (min-width: 671px) {
            position: relative; 
            padding-left: 50%;
            width: 100%;
        }
    }

    .separate-line {
        display: block;
        margin-bottom: 1.2em;
    }
}