@import '../../variables';

.navigation {
    position: absolute;
    bottom: 0;
    width: 96%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background: $background-color;

    @media (max-width: 780px) {
        flex-direction: column;
        width: 90%;
        padding: 0.8em 10%;
    }
    a {
        font-family: $header-font;
        text-transform: uppercase;
        
        @media (max-width: 780px) {
            flex-direction: column;
            width: 90%;
            margin-bottom: .3em;
        }
    }
}