.contact {
    position: relative;
    padding: 5% 0 calc(5% + 80px);

    @media (max-width: 560px) {
        padding: 5% 0 calc(5% + 150px);
    }

    .contact-container:not(:last-of-type) {
        margin-bottom: 2.2em;
    }
    
    h2 {
        margin: .8em 0 .2em;
    }
}