@import 'variables';

html,
body {
    height: 100%;
    font-size: 1.3em;
}

.App {
    height: 100%;
}

#root {
    font-family: $main-font;
    height: 100%;
    color: $font-color;
    background: $background-color;
}


// ::-webkit-scrollbar { 
//     display: none; 
// }